@import '../../main.scss';

.home-page-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home-page-bottom {
  background-position: center;
  background-size: cover;
  flex: 1;
}

.home-page-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 1.5rem;
  border-bottom: 1px solid #1e1e1e;

  @include breakpoint(768px) {
    gap: 1rem;
    width: 100%;

  }
}

.home-page-logo {
  font-size: 1.5rem;

  @include breakpoint(768px) {
    font-size: 1rem;
  }
}

.home-page-language {
  font-weight: 700;
}

.home-page-title-wrapper {
  align-self: flex-start;
  z-index: 1;
  display: flex;
}

.home-page-mail,
.home-page-phone {
  @include breakpoint(768px) {
    display: none;
  }
}

.home-page-title {
  justify-self: flex-start;
  text-align: center;
  font-size: 12rem;
  width: 100%;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  padding-right: 12rem;
  animation: moveTextHorizontal 20s linear infinite;
  animation-delay: 1s;

  @include breakpoint(768px) {
    font-size: 8rem;
    padding-right: 8rem;
  }
}

.home-page-image {
  object-fit: none;
  object-position: 50% -22rem;
  object-fit: contain;
}

@keyframes moveTextHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}